<link rel="stylesheet" href='/stylesheets/home.css' />
<link rel="stylesheet" href='/stylesheets/auth.css' />
<video autoplay loop muted id="background">
    <source src="../movie/Divex-background.mp4" type="video/mp4">
</video>
<h1>Divex</h1>
 <p>Always remember your dive experiences</p>
<div class="box">
    <h2>Create Account</h2>
    <form action="/signup" method="POST">
        <div class=" inputBox">
            <input type="text" name="username" placeholder="Enter Username">
            <label>Username</label>
        </div>
        <div class=" inputBox">
            <input type="text" name="email" placeholder="Enter Email">
            <label>Email</label>
        </div>
        <div class=" inputBox">
            <input type="password" name="password" placeholder="··········">
            <label>Password</label>
        </div>
        <input type="submit" value="Submit">
        <button id="input-style"><a href="/auth/facebook">Facebook</a></button>
        <button id="input-style-google"><a href="/auth/google">Google</a></button>
    </form>
</div>