<!DOCTYPE html>
<html>
  <head>
    <title>Divex</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/spacelab/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <body>
    	<div class="main-container">
    		<%- body -%>
    	</div>
  </body>
</html>