<link rel="stylesheet" href='/stylesheets/home.css' />
<video autoplay loop muted id="background">
        <source src="../movie/Divex-background.mp4" type="video/mp4">
 </video>

 <h1>Divex</h1>
 <p>Always remember your dive experiences</p>
