body {
    background: #02111D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #02111D, #037BB5, #02111D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #02111D, #037BB5, #02111D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, p {
	color: #fff;
}


#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    background: #000;
    opacity: 0.6; 
}

footer a {
	float: right;
	margin-right: 15px;
	font-size: 21px;
	padding: 4px;
	color: #fff;
}