body {
    background: #02111D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #02111D, #037BB5, #02111D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #02111D, #037BB5, #02111D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 50px;
    font-family: 'Roboto', sans-serif;
}

h1,
p {
    color: #fff;
}

label {
    font-size: 10px;
}

.new-h1 {
    color: #fff;
    margin-left: 40px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    opacity: 0.6;
}

footer a {
    float: right;
    margin-right: 15px;
    font-size: 21px;
    padding: 4px;
    color: #fff;
}

button a {
    color: #fff;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: #fff;
}


#color-link {
    background: rgba(0, 0, 0, .6);
    margin-top: 10px;
    box-shadow: 0 40px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px solid blue;
    width: 400px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}

.caps {
    text-transform: capitalize;
}

#color-link:hover {
    color: #04F4FF;
}


.dive-info {
    position: absolute;
    top: 50%;
    left: 50%;
    list-style-type: none;
    background: rgba(0, 0, 0, .6);
    box-shadow: 0 40px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
}

.dive-info li {
    color: #fff;
    margin: 10px 10px;
}


#dive-log {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    margin-top: 15px;
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#edit-log {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    margin-top: 80px;
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#edit-log .inputBox input {
    width: 100%;
    font-size: 12px;
    color: #fff;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}


#dive-log .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
    color: #fff;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

#back-button {
    position: absolute;
    right: 50px;
    bottom: 40px;
}


#gallery-btn a {
    color: #000;
}

#gallery-h1 {
    text-align: center;
}

#location-btn {
    position: absolute;
    left: 45%;
    margin-top: 15px;
}

.detail-buttons {
    position: absolute;
    top: 400px;
    left: 450px;
    margin-top: 60px;
}

.detail-buttons button {
    margin: 5px;
}

#gallery-btn {
    width: 97%;
}