body {
    background: #02111D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #02111D, #037BB5, #02111D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #02111D, #037BB5, #02111D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
p {
    color: #fff;
}

.new-h1 {
    color: #fff;
    margin-left: 40px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000;
    opacity: 0.6;
}

footer a {
    float: right;
    margin-right: 15px;
    font-size: 21px;
    padding: 4px;
    color: #fff;
}

button a {
    color: #fff;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: #fff;
}


#color-link {
    background: rgba(0, 0, 0, .6);
    margin-top: 10px;
    box-shadow: 0 40px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px solid blue;
    width: 400px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}

#color-link:hover {
    color: #04F4FF;
}


.dive-info {
    list-style-type: none;
}

.dive-info li {
    color: #fff;
}

#button-detail {
    margin-left: 40px;
}

#dive-log {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


#dive-log .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
    color: #fff;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

#back-button {
    position: absolute;
    right: 50px;
    bottom: 40px;
}


@media only screen and (max-width: 520px) {
    #new-dives {
        display: flex;
        flex-direction: column;
    }

    #color-link {
        width: 100px;
        height: 100%;
        margin: auto;
    }

    h1,
    p {
        text-align: center !important;
    }

    #button-add {
        position: relative;
        left: 60px;
    }

    .new-h1 {
        text-align: center;
    }
}