#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

h1, p {
    color: #fff;
}

button {
    margin-top: 10px;
    margin-right: 10px;
}

p {
    font-size: 20px;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:#fff;
}


#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    background: #000;
    opacity: 0.6; 
}
footer p {
    margin-left: 10px;
    padding: 10px 10px;
}



.devicon-github-plain-wordmark {
    font-size: 38px;
    float: right;
    margin-right: 30px;
    padding: 10px 10px;
}
