<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>DIVEX</h1>
            <p>Always remember your dive experiences</p>
            <button id="button-add" class="btn btn-info"><a href="/api/dives/new">Add a new dive</a></button>
        </div>
        <div id="new-dives" class="col-md-8">
        	<% dives.forEach(oneDive => { %>
        		<a id="color-link" href="/api/dives/<%=oneDive._id%>">
        			<%= oneDive.number %> - <%= oneDive.location %>
        		</a>
        	<% }) %>
        </div>
    </div>
</div>
<footer id="footer">
    <a href="/logout"><i class="fas fa-power-off"></i></a>
</footer>