<h1 class="caps" id="gallery-h1"><%= dive.location %></h1>
<style>
#map {
    height: 400px;
    width: 80%;
    margin-left: 140px;
    margin-top: 15px;
}
</style>
<div id="map"></div>
<button id="location-btn" class="btn btn-info"><a href="/api/dives">Back to Dives</a></button>