<link rel="stylesheet" href='/stylesheets/dives.css' />
<h1 class="new-h1">Divex</h1>
<div id="dive-log">
    <form action="/api/dives/new" method="POST">
        <div class="inputBox">
            <input type="number" name="number" placeholder="Enter Dive Number">
        </div>
        <div class="inputBox">
            <input type="date" name="date">
        </div>
        <div class="inputBox">
            <input type="text" name="location" placeholder="Koh Tao, Thailand">
        </div>
        <div class="inputBox">
            <input type="text" name="objective" placeholder="Advanced Dive">
        </div>
        <div class="inputBox">
            <input type="number" name="visibility" placeholder="visibility (meters)">
        </div>
        <div class="inputBox">
            <input type="number" name="totalTime" placeholder="Enter Time">
        </div>
        <div class="inputBox">
            <input type="number" name="depth" placeholder="depth (meters)">
        </div>
        <div class="inputBox">
            <input type="text" name="observations" placeholder="Lion Fish, shark, stingray">
        </div>
        <button class="btn btn-danger" type="submit">Save the dive</button>
    </form>
         
        <button id="back-button" class="btn btn-info"><a href="/api/dives">Back to Dives</a></button>

</div>